# Build output
out/
*.o
*.so
*.a
*.ko
*.d
*.dtb
*.img

# Clang toolchain
clang/

# Temporary dirs
ork/
*.diff

# --- ORKGABB: IGNORES DE TRINCHEIRA ---
clang*/
toolchain*/
out/
AnyKernel*/
*.zip
*.tar.*
*.patch
*.diff
*.orig
*.rej
*.bak*
drivers/kernelsu.bak*/
AnyKernel3/Image
arch/arm64/boot/Image
AnyKernel3/Image
arch/arm64/boot/Image
arch/arm64/boot/Image.gz
arch/arm64/boot/Image.gz-dtb
